<%
    def link_to(name, url)
        return "<a href='#{url}'>#{name}</a>"
     end
    %>
    <html>
    <head>
      <title>Joseph's Awesome Stuff</title>
    </head>
  <body>
    <h1>This page is awesome!</h1>
    <p>
      <h3> Fun stuff happening <%= Time.now%> </h3>
      <p> Favorite links</p>
      
      <a href='http://www.loc.gov/index.html'>Library of Congress</a>
      <a href='http://library.tamu.edu/directory/browse/O'>Me</a>
      <%= link_to('University of Texas Libraries', 'http://www.lib.utexas.edu/') %>
      <%= link_to('Music Library Association', 'http://musiclibraryassoc.org/') %>


    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3>Notes</h3>
      <p>More Awesome Links
<a href='http://schneems.com/'>Schneems</a>
<a href='http://www.texastribune.org/'>Texas Tribune<a/>
  <%= link_to('http://www.npr.org/','NPR') %>
  <%= link_to('http://connect.ala.org/','ALA Connect')%>
      </p>
    </div>
  </body>
</html>